
.todo-icons {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.gg-check-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 4px;
}

.gg-check-r::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
}

.gg-home {
  color: white;
  box-sizing: border-box;
  display: block;
    transform: scale(var(--ggs, 1)) translateY(3px);
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-radius: 2px;
  position: relative; 
  cursor: pointer;
}


.gg-home::after,
.gg-home::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-home::before {
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  left: 0;
  top: -7px;
}

.gg-home::after {
  width: 6px;
  height: 8px;
  border: 2px solid;
  bottom: 0;
  left: 4px;
}

.home-wrapper {
  position: fixed;
  top: 40px;
  left: 20px;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #8f42e6;
  border-radius: 8px;

  cursor: pointer;
  z-index: 1000;

  box-shadow: 0 0 15px #8f42e6, 0 0 30px #8f42e6;
  transition: transform 0.2s, box-shadow 0.2s;
}
